# Artifacts
/Artifacts

# Distribution
/Sources/build/
/Sources/dist/
/Sources/*/__metadata__.py

# Log files
*.log

# Python
__pycache__/
*.egg-info/
*.pyc

# Python virtual environment
.venv/

# Visual Studio Code
/.vscode/settings.json
