/* Home */

.link-entry > a
{
	text-align: center;
	text-decoration: none;
}



/* Articles */

.article-entry > .credits
{
	text-indent: 1em;
}

.article-entry > .extra
{
	display: none;
}

.article-entry > .date
{
	color: #555555;
	text-align: right;
}



/* Contact */

.contact-entry > div.link
{
	text-align: center;
}

.contact-entry > div.link > a
{
	text-decoration: none;
}
