main > section
{
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 1em;
}

main > section > article
{
	display: flex;
	flex-direction: column;
	align-self: stretch;
	background-color: #fff;
	box-shadow: 0 0 5px #999999;
	padding: 1em;
	gap: 1em;
}


/* Home */

.home-link > a
{
	text-align: center;
}


/* About */

.about-heading
{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"text picture";
}

.about-heading > .text { grid-area: text; }
.about-heading > img { grid-area: picture; }

.about-heading > .text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.about-heading > img
{
	max-height: 200px;
	max-width: 200px;
}

.about-information > div > p
{
	font-style: italic;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: justify;
}

.about-information > div > p:last-child
{
	margin-bottom: 0;
}

.about-text > div > p
{
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: justify;
	text-indent: 1em;
}

.about-text > div > p:last-child
{
	margin-bottom: 0;
}


/* Articles */

.article-heading
{
	font-size: 2em;
	line-height: 1em;
}

.article-heading a
{
	text-decoration: none;
}

.article-metadata
{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.article-metadata > .identifier
{
	display: none;
}

.article-metadata > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.article-metadata > .tags
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.4em;
}

.article-metadata > .tags > li
{
	padding: 0 0.4em;
    background-color: #bbddff;
	border-radius: 4px;
}

.article-metadata > .warnings
{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.article-metadata > .warnings > li
{
	padding: 0.5em 0.75em;
	color: #aa0000;
    background-color: #ffeebb;
	font-size: 1.2em;
}

.article-metadata > .date
{
	color: #555555;
	text-align: right;
}

.article-separator
{
    border: 1px solid #dddddd;
    width: 40%;
}

.article-text
{
	display: flex;
	flex-direction: column;
}

.article-text > *
{
	margin-bottom: 0.5em;
}

.article-text > *:first-child
{
	margin-top: 0;
}

.article-text > *:last-child
{
	margin-bottom: 0;
}

.article-text > h1
{
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.article-text > blockquote
{
	background-color: #eeeeee;
	border-radius: 0.5em;
	color: #005555;
	margin: 0.5em 0 1em 0;
	padding: 0.5em 0.75em;
}

.article-text p
{
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: justify;
	text-indent: 1em;
}
