{% extends 'layout.html' %}

{% block content %}

<section class="section-for-about">

	<article class="about-heading">
		<img src="{{ url_for('static', filename = 'me.jpeg') }}"/>
		<div class="text">
			<p>Thoughts About Fiction is a blog by me, Benjamin Hamon,<br/>where I post subjective and lengthy articles<br/>about fiction and storytelling.</p>
			<p>Enjoy and please share your thoughts!</p>
		</div>
	</article>

	<article class="about-information">
		<div>
			<p>This blog does not support comments, likes and similar features, and probably never will.<br/>I encourage you to use other websites and supports for your discussions, although I would love to participate!<br/>I try to avoid social media, but the one I dislike the least is Reddit.</p>
			<p>You can reach me through <a href="mailto:blog@benjaminhamon.com">blog@benjaminhamon.com</a>.</p>
		</div>
	</article>

	<article class="about-text">
		<div>
			<p><strong>About me and my articles,</strong></p>
		</div>
		<div>
			<p>Writing is a hobby of mine to record and expand on all the stuff that’s going around in my head all the time.</p>
			<p>I’m the kind of person who gets really into a few stories and try to experience them over and over, and in-depth. I basically walk around talking to myself. So at one point, I just started writing it down. I try to make my texts formal and well written, while still doing it mostly free form rather than essays. Usually, I just want to express myself more than make a point. A lot of it is very subjective and matter of interpretation. There is some flavor thrown in there because I enjoy it.</p>
			<p>The articles themselves are mostly streams of thought formulated as analysis and philosophical tangents. There will be speculation, critique, bullet lists, random notes, fanfiction and poor attempts at humor. Topics are either general or specific to one fiction, to reduce spoilers and avoid direct comparisons between media.</p>
			<p></p>
			<p>Hopefully you’ll get something out of it, maybe enjoyment, maybe distress, but beyond that matter to discuss, to agree and disagree with, or to expand upon. If you manage to read me to the end, please discuss and share what you think. The only thing I ask is to be kind and respectful, and to try to be constructive in your arguments.</p>
			<p>Cheers!</p>
		</div>
	</article>

</section>

{% endblock %}
