{% extends 'layout.html' %}

{% block content %}

<section class="section-for-about">
    <article class="about-entry">
        <div class="heading">
            <p>About the author</p>
        </div>
        <div class="text">
            <p>Here's some stuff about me.</p>
        </div>
    </article>
    <article class="about-entry">
        <div class="heading">
            <p>About the blog</p>
        </div>
        <div class="text">
            <p>Here's some stuff about the blog.</p>
        </div>
    </article>
</section>

{% endblock %}
