{% extends 'layout.html' %}

{% block content %}
<section class="section-for-article">
	<article>
		<div class="article-heading">
			{{ article.metadata.title }}
		</div>
		<div class="article-metadata">
			<p class="identifier">{{ article.metadata.identifier }}</p>
			<ul class="warnings">
				{% for warning in article.metadata.warnings %}
				<li>Warning: {{ warning }}</li>
				{% endfor %}
			</ul>
			<ul class="tags">
				{% for tag in article.metadata.tags %}
				<li>{{ tag }}</li>
				{% endfor %}
			</ul>
			<p class="date">{{ article.metadata | format_document_date }}</p>
		</div>
		<hr class="article-separator"/>
		<div class="article-text">
			{{ article.content | safe }}
		</div>
	</article>
</section>
{% endblock %}
