{% extends 'layout.html' %}
{% import 'macros.html' as shared_macros %}

{% block content %}

<section>

    <div class="search">
        <form method="get" action="{{ url_for('main_controller.article_collection') }}">
            <input type="search" id="input-search" name="search" value="{{ request.args.get('search') if request.args.get('search') else '' }}" autofocus/>
			<button type="submit">Search</button>
		</form>
    </div>

    {% for article in article_collection %}

    <article class="article-entry">
        <div class="heading">
            <a href="{{ url_for('main_controller.article', identifier_or_alias = article.reference) }}">{{ article.title }}</a>
        </div>
        <div class="credits">
            <p class="author">by {{ article.author }}</span></p>
        </div>
        <div class="extra">
            <p class="identifier">{{ article.identifier }}</p>
        </div>
        <div class="tags">
            <ul>
                {% for tag in article.tags %}
                <li class="information">
                    <a href="{{ url_for('main_controller.article_collection', search = 'tag:%r' % tag) }}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul>
                {% for warning in article.warnings %}
                <li class="warning">{{ warning }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="excerpt">
            {{ article.excerpt | safe }}
        </div>
        <div class="date">
            <p>{{ article | format_document_date }}</p>
        </div>
    </article>

    {% endfor %}

    {{ shared_macros.pagination_div('main_controller.article_collection', pagination) }}

</section>

{% endblock %}
