{% extends 'layout.html' %}

{% block content %}

<section>

    {% for article in article_collection %}

    <article class="article-entry">
        <div class="heading">
            <a href="{{ url_for('main_controller.article', identifier_or_alias = article.reference) }}">{{ article.title }}</a>
        </div>
        <div class="credits">
            <p class="author">by {{ article.author }}</span></p>
        </div>
        <div class="extra">
            <p class="identifier">{{ article.identifier }}</p>
        </div>
        <div class="tags">
            <ul>
                {% for tag in article.tags %}
                <li class="information">{{ tag }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for warning in article.warnings %}
                <li class="warning">{{ warning }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="excerpt">
            {{ article.excerpt | safe }}
        </div>
        <div class="date">
            <p>{{ article | format_document_date }}</p>
        </div>
    </article>

    {% endfor %}

</section>

{% endblock %}
