<!-- cspell:words benjaminhamonwrites BenjHamonWrites -->

{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="contact-entry">
        <div class="link">
            <a href="https://dashboard.mailerlite.com/forms/563397/104900255375427356/share">
                <p>Subscribe to the newsletter</p>
            </a>
        </div>
        <div class="text">
            <p>Subscribe for updates about the blog. Unsubscribe anytime. Thank you for your interest!</p>
            <p><em>(Service provided by MailerLite. Please note this link will send you to another webpage to subscribe, after which you'll receive a confirmation email.)</em></p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="https://www.facebook.com/profile.php?id=61555876006103">
                <p>Facebook</p>
            </a>
            <a href="https://www.instagram.com/benjaminhamonwrites/">
                <p>Instagram @benjaminhamonwrites</p>
            </a>
            <a href="https://twitter.com/BenjHamonWrites">
                <p>X (Twitter) @BenjHamonWrites</p>
            </a>
        </div>
        <div class="text">
            <p>I don't use social media much if at all but feel free to follow me on Facebook, Instagram and X for news.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:blog@benjaminhamon.com">blog@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>You’re welcome to reach out to me about my blog entries and about the discussed topics in general, let's chat! You can also share with me online discussions you find or initiate, I'll take a look and try to participate.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:development@benjaminhamon.com">development@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>Please message me to this address if you encounter any issues with the website. You can also check out the project directly on <a href="https://github.com/BenjaminHamon/MyBlog/">GitHub</a>—sources, discussions, issues, and all.</p>
        </div>
    </article>
</section>

{% endblock %}
