{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="contact-entry">
        <div class="link">
            <a href="https://twitter.com/BenjHamonWrites">
                <p>X (Twitter) @BenjHamonWrites</p>
            </a>
        </div>
        <div class="text">
            <p>I don't use social media much but feel free to follow me on X (previously Twitter) for news.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:blog@benjaminhamon.com">blog@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>You’re welcome to reach out to me about my blog entries and about the discussed topics in general. Let's chat! Don't hesitate to invite me to an online discussion, I'll take a look and I might try to participate.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:development@benjaminhamon.com">development@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>Please message me to this address if you encounter any issues with the website. You can also check out the project directly on <a href="https://github.com/BenjaminHamon/MyBlog/">GitHub</a>—sources, discussions, issues, and all.</p>
        </div>
    </article>
</section>

{% endblock %}
