{% extends 'layout.html' %}

{% block content %}

<section>

	<article class="about-heading">
		<div class="text">
			<p>Thoughts About Fiction is a blog by me, Benjamin Hamon,<br/>where I post subjective and lengthy articles<br/>about fiction and storytelling.</p>
			<p>Enjoy and please share your thoughts!</p>
		</div>
	</article>

</section>

<section class="section-for-article-collection">

	{% for article in article_collection %}

	<article>
		<div class="article-heading">
			<a href="{{ url_for('main_controller.article', identifier_or_alias = article.reference) }}">{{ article.title }}</a>
		</div>
		<div class="article-metadata">
			<p class="identifier">{{ article.identifier }}</p>
			<ul class="warnings">
				{% for warning in article.warnings %}
				<li>Warning: {{ warning }}</li>
				{% endfor %}
			</ul>
			<ul class="tags">
				{% for tag in article.tags %}
				<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="article-excerpt">
			{{ article.excerpt | safe }}
		</div>
		<div class="article-metadata">
			<p class="date">{{ article | format_document_date }}</p>
		</div>
	</article>

	{% endfor %}

	<article class="home-link">
		<a href="{{ url_for('main_controller.article_collection') }}">See more articles...</a>
	</article>

</section>

{% endblock %}
